$blue = #0E6EB8
$green = #90C51A

$dark-blue = #04556A
$dark-red=   #B93B32

$main-green = #74a334
$main-blue  = #0E6EB8
$main-gray  = #333

$iphone-query      = "only screen and (max-width: 480px)"
$ipad-query        = "only screen and (min-width: 481px) and (max-width: 1000px)"
$screen-query      = "only screen and (min-width: 1001px) and (max-width: 1200px)"
$wide-screen-query = "only screen and (min-width: 1201px)"
$mobile-query      = "only screen and (max-width: 1000px)"
$desktop-query     = "only screen and (min-width: 1001px)"
