.speaker-panel
  width: 250px
  float: left
  margin: 20px 10px 30px
  height: 440px
  font-size: 15px

  .figure
    height: 250px
    overflow: hidden
    border-radius: 4px 4px 0 0
    background: #90C51A no-repeat center center;
    background-size: cover;

  .name
    font-size: 20px
    margin-top: 0

  .location
    margin-bottom: 0
    color: #777
  .org
    font-size: 18px
    margin-bottom: 0

  .title
    font-size: 0.9em
    color: #777
    margin: 0


.speaker-info
  h4
    font-size: 16px
    margin: 1.8em 0 3px
    color: #999