[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.26.0"
click = "~=8.0.1"
loguru = "~=0.5.3"
beautifulsoup4 = "~=4.10.0"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
server = "python -m http.server --cgi 5000"